* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font: 300 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background: #eee;
    margin: 0;
    padding: 25px;
}

#image-map {
    height: 100%;
    width: 80%;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

    .info h4 {
        margin: 0 0 5px;
        color: #777;
    }

.legend {
    line-height: 18px;
    color: #555;
}

    .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }
    .legend span {
        width: 30px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }
    .legend .empty {
        color:aliceblue;
    }
    .legend .low {
        color:skyblue;
    }
    .legend .med {
        color:forestgreen;
    }
    .legend .high {
        color:orangered;
    }
/* Change cursor when mousing over clickable layer */
.leaflet-clickable {
    cursor: crosshair !important;
}
/* Change cursor when over entire map */
.leaflet-container {
    cursor: crosshair !important;
}